.main {
    background: linear-gradient( var(--color6),var(--color1));
    width: 85%;
    margin: 30px auto;
    padding: 2%;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
    min-height: 40vh;
    display: flex;
    flex-direction: column;

    .cart-header, .cart-body {
        display: flex;
        --items: 4;

        .item {
            width: calc(100% / var(--items));
            text-align: center;
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;

            p{
                margin: 0;
                padding: 0;
            }

            span {
                transition: all 200ms;
            }

            span:hover {
                color: #111;
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }

    .cart-header {
        font-weight: bold;
    }

    .cart-body {
        display: flex;
        flex-direction: column;

        .cart-item {
            display: flex;

        }
    }
}

.title{
    margin: 0;
    text-align: center;
}

.buttons-cart{
    width: 100%;
    margin-top: 50px;
    padding: 0;
    display: flex;
    justify-content: space-between;

    .button {
        font-size: 1rem;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 1%;
        border-radius: 10px;
        border: none;
        background-color: rgba(148, 148, 148, 0.418);
        transition: all 200ms;

        .link{
            color: #000;
            text-decoration: none;
        }
    }
    .button:hover {
        background-color: rgba(148, 148, 148, 0.6);
        transform: scale(1.005);
    }
}

.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .total__title {
        width: 25%;
    }

    .total__price {
        font-weight: bold;
        width: 25%;
    }

    div {

        display: flex;
        justify-content: center;
        align-items: center;

        * {
            margin: auto;
        }
        
    }

}