.main {
    background: linear-gradient( var(--color6),var(--color1));
    width: 85%;
    margin: 30px auto;
    padding: 2%;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
}

.title{
    margin: 0;
    text-align: center;
}

.bold{
    font-weight: bold;
}