.button-container{
    margin: 0;
    width: 100%;
    padding-bottom: 10px;

    .item-container {
    width: 85%;
    margin: 5% auto;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

        .item-container__button {
            width: 15%;
            display: flex;
            justify-content: center;
            
            button:hover {
                transform: scale(1.3);
            }
        }

        .less {
            color: #680000ca;
        }

        .less:hover {
            color: #a50000c0;
        }

        .plus {
            color: #006800ca;
        }

        .plus:hover {
            color: #00a500c0;
        }

        .item-container__number{
            width: 25%;
            display: flex;
            align-items: center;
            .number {
                display: flex;
                align-items: center;
                height: 100%;
                text-align: center;
                margin: auto;
                padding: 0;
                font-size: 1.5rem;
            }
        }

    }

    .item-container__option{
        width: 85%;
        margin: auto;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        .option__button{
            font-size: 1rem !important;
            padding: 15px;
            margin: auto;
            text-decoration: none;
            color: #000;
            transition: all 200ms;
        }
    }
    
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: auto;
    padding: 0 0 7px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    transition: all 200ms;
}

.option{
    border: 1px solid #80808096;
    background-color: #80808018;
    transition: all 200ms;    
}

.back {
    margin-top: 25px !important;
    .link {
        text-decoration: none;
        color: #000;
    }
}

.item-container__option:hover{
    border: 1px solid #80808096;
    background-color: #80808031;

    .option__button{
        font-weight: bold;
    }
}